python3.7+

package: install method

mayavi: pip3 install git+https://github.com/enthought/mayavi.git
periodictable: pip3 install periodictable
pycifrw: pip3 install pycifrw
pyqt5: pip3 install pyqt5
nexusformat: pip3 install nexusformat==0.4.20
pyqtgraph:pip3 install pyqtgraph
pandas: pip3 install pandas==1.0.5
pymca5: pip3 install PyMca5
matplotlib: pip3 install matplotlib
numpy:pip3 install numpy
scipy:pip3 install scipy
imageio: pip3 install imageio==2.9.0


